@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-ExtraLight.otf") format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-Black.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-ExtraBold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Pretendard";
    src: url("./assets/fonts/Pretendard-SemiBold.otf") format("opentype");
    font-weight: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
body {
    background: #101213;
}

.navbar {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 2.5rem;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo img {
    width: 180px;
}
.nav-buttn button {
    border-radius: 5.205px;
    background-color: transparent;
    padding: 8px 30px;
    border: 1.111px solid #fff;
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.377px;
}
.home-page-landing {
    margin-top: 1rem;
    text-align: center;
}
.home-page-landing h1 {
    text-align: center;
    font-family: Pretendard;
    font-size: 88.532px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -2.806px;
    font-weight: 800;
    background-image: linear-gradient(90deg, #257ae6, #14cbca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.home-page-landing p {
    color: #a6a6a6;
    text-align: center;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}
.home-page-landing-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home-page-landing-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.home-page-landing-buttons button {
    border-radius: 6px;
    background: #fff;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    border: none;
    font-size: 16.75px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.435px;
    padding: 12px 36px;
}
.home-page-landing-buttons button.secondary {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.features-section {
    margin-top: 8.5rem;
}
.features-section h1 {
    font-size: 64px;
}
.animated-react {
    text-align: center;
    margin-top: 0rem;
}
.animated-react img {
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    50% {
        transform: rotate(180deg) scale(1.3);
    }
    100% {
        transform: rotate(360deg) scale(0.8);
    }
}
.features-section img {
    margin-top: 2rem;
    padding-bottom: 4rem;
}
button {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
button:hover {
    transform: scale(1.05);
}
input,
select {
    border-radius: 12.08px;
    border: 1.342px solid #353535;
    background: #101213;
    padding: 20px;
    padding-left: 30px;
    color: #c0c0c0;
    width: 100%;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.292px;
    letter-spacing: -0.6px;
}
.field {
    width: 100%;
}
.step-btns {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
}
.step-btns button {
    border-radius: 9.13px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    justify-content: center;
    border: none;
    background: linear-gradient(111deg, #267be6 29.08%, #15cbca 100%);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.315px;
    width: 100%;
    padding: 11px;
    letter-spacing: -0.54px;
}
.step-btns button.secondary {
    border-radius: 9.13px;
    border: 1px solid #454545;
    background: #16181a;
}
form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
}

form p {
    text-align: left;
    color: #c9c9c9;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 24.292px;
    letter-spacing: -0.66px;
}
.container-field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.addicon {
    position: absolute;
    right: -60px;
    bottom: 5px;
    cursor: pointer;
}
.lottie-container {
    width: 45%;
    margin: 0 auto;
}
.lottie-container h1 {
    text-align: center;
}
a {
    text-decoration: none;
}
.api-inputs {
    margin-top: 15px;
}
.remove-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #454545;
    border: none;
    text-align: center;
    justify-content: center;
    padding: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    border-radius: 6px;
    font-weight: 500;
    line-height: 23.315px;
    width: 100%;
    padding: 11px;
    letter-spacing: -0.54px;
}
.container-field-flex {
    display: flex;
    gap: 10px;
}
.small-input {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
}
.remove-btn img {
    transition: all 0.3s ease-in-out;
    width: 22px;
    opacity: 0.75;
}
.remove-btn:hover img {
    opacity: 1;
}
.remove-btn.secondary {
    background-color: rgba(69, 69, 69, 0.2);
    /* border: 1px solid #fff; */
}
.typeOf-App {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 1rem;
}

.typeOf-App > div {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.typeOf-App > div img {
    border-radius: 12px;
    border: 1.3px solid #242424;
}
.typeOf-App > div p {
    font-size: 16px;
}

.typeOf-App > div:hover {
    transform: translatey(-10px);
}
